[core]
  pager = delta
  editor = nvim
  excludesfile = ~/.gitignore_global


[interactive]
  diffFilter = delta --color-only

[delta]
  side-by-side = true
  
[diff]
  colorMoved = default

[user]
  email = vince.tran8x@gmail.com
  name = vince8x

[merge]
  tool = kdiff3

[mergetool "kdiff3"]
  path = /usr/bin/kdiff3
  trustExitCode = false

[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
